.nav{
    display: flex;
    list-style: none;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(23, 88, 77);
}

.navElement {
    text-decoration: none;
    color: #000000;
    font-size: 2rem;
    
    &:hover {
        text-decoration: underline;
        color: #fff;
    }
}